<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>[ice]bullet_normal0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,296},{42,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,44}}</string>
			<key>sourceSize</key>
			<string>{42,44}</string>
		</dict>
		<key>[stone]bullet_normal0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,32},{105,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,100}}</string>
			<key>sourceSize</key>
			<string>{105,100}</string>
		</dict>
		<key>[thunder]bullet_normal0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,245},{42,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,44}}</string>
			<key>sourceSize</key>
			<string>{42,44}</string>
		</dict>
		<key>bullet_01_normal0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,475},{45,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,30}}</string>
			<key>sourceSize</key>
			<string>{45,30}</string>
		</dict>
		<key>bullet_01_normal0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,404},{45,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,30}}</string>
			<key>sourceSize</key>
			<string>{45,30}</string>
		</dict>
		<key>bullet_01_normal0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,404},{45,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,30}}</string>
			<key>sourceSize</key>
			<string>{45,30}</string>
		</dict>
		<key>bullet_01_normal0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,451},{45,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,30}}</string>
			<key>sourceSize</key>
			<string>{45,30}</string>
		</dict>
		<key>bullet_02_normal0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,340},{45,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,30}}</string>
			<key>sourceSize</key>
			<string>{45,30}</string>
		</dict>
		<key>bullet_02_normal0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{328,387},{45,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,30}}</string>
			<key>sourceSize</key>
			<string>{45,30}</string>
		</dict>
		<key>bullet_02_normal0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,340},{45,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,30}}</string>
			<key>sourceSize</key>
			<string>{45,30}</string>
		</dict>
		<key>bullet_02_normal0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,245},{45,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,30}}</string>
			<key>sourceSize</key>
			<string>{45,30}</string>
		</dict>
		<key>bullet_03_normal0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,230},{83,40}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,40}}</string>
			<key>sourceSize</key>
			<string>{85,40}</string>
		</dict>
		<key>bullet_03_normal0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,169},{83,40}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,40}}</string>
			<key>sourceSize</key>
			<string>{85,40}</string>
		</dict>
		<key>bullet_03_normal0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,253},{77,38}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,38}}</string>
			<key>sourceSize</key>
			<string>{85,40}</string>
		</dict>
		<key>bullet_03_normal0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,138},{77,24}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{77,24}}</string>
			<key>sourceSize</key>
			<string>{85,40}</string>
		</dict>
		<key>bullet_04_normal0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,272},{83,40}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,40}}</string>
			<key>sourceSize</key>
			<string>{85,40}</string>
		</dict>
		<key>bullet_04_normal0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,211},{83,40}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,40}}</string>
			<key>sourceSize</key>
			<string>{85,40}</string>
		</dict>
		<key>bullet_04_normal0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,314},{77,36}}</string>
			<key>offset</key>
			<string>{-4,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,36}}</string>
			<key>sourceSize</key>
			<string>{85,40}</string>
		</dict>
		<key>bullet_04_normal0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,217},{77,24}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{77,24}}</string>
			<key>sourceSize</key>
			<string>{85,40}</string>
		</dict>
		<key>bullet_05_normal0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,362},{45,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,45}}</string>
			<key>sourceSize</key>
			<string>{45,45}</string>
		</dict>
		<key>bullet_05_normal0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,362},{45,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,45}}</string>
			<key>sourceSize</key>
			<string>{45,45}</string>
		</dict>
		<key>bullet_05_normal0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,293},{45,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,45}}</string>
			<key>sourceSize</key>
			<string>{45,45}</string>
		</dict>
		<key>bullet_05_normal0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,357},{45,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,45}}</string>
			<key>sourceSize</key>
			<string>{45,45}</string>
		</dict>
		<key>bullet_06_normal0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,248},{50,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,9},{50,32}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>bullet_06_normal0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,193},{44,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{44,46}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>bullet_06_normal0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,204},{42,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{42,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>bullet_06_normal0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,467},{44,42}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,5},{44,42}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>bullet_08_normal0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,138},{146,29}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{146,29}}</string>
			<key>sourceSize</key>
			<string>{152,37}</string>
		</dict>
		<key>bullet_08_normal0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,162},{146,29}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{146,29}}</string>
			<key>sourceSize</key>
			<string>{152,37}</string>
		</dict>
		<key>bullet_08_normal0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,100},{146,29}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{146,29}}</string>
			<key>sourceSize</key>
			<string>{152,37}</string>
		</dict>
		<key>bullet_08_normal0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,131},{146,29}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{146,29}}</string>
			<key>sourceSize</key>
			<string>{152,37}</string>
		</dict>
		<key>bullet_09_normal0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{199,96}}</string>
			<key>offset</key>
			<string>{-11,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,34},{199,96}}</string>
			<key>sourceSize</key>
			<string>{255,168}</string>
		</dict>
		<key>bullet_09_normal0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,72},{173,64}}</string>
			<key>offset</key>
			<string>{-12,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,50},{173,64}}</string>
			<key>sourceSize</key>
			<string>{255,168}</string>
		</dict>
		<key>bullet_09_normal0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,2},{177,68}}</string>
			<key>offset</key>
			<string>{-11,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,49},{177,68}}</string>
			<key>sourceSize</key>
			<string>{255,168}</string>
		</dict>
		<key>bullet_11_normal0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,2},{111,28}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{111,28}}</string>
			<key>sourceSize</key>
			<string>{113,32}</string>
		</dict>
		<key>bullet_21_normal0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,314},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,46}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
		<key>bullet_21_normal0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,482},{24,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,11},{24,24}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
		<key>bullet_22_0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,233},{58,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{58,60}}</string>
			<key>sourceSize</key>
			<string>{62,64}</string>
		</dict>
		<key>bullet_22_0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,352},{62,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,64}}</string>
			<key>sourceSize</key>
			<string>{62,64}</string>
		</dict>
		<key>bullet_22_0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,241},{62,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{62,60}}</string>
			<key>sourceSize</key>
			<string>{62,64}</string>
		</dict>
		<key>bullet_22_0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,362},{54,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,6},{54,52}}</string>
			<key>sourceSize</key>
			<string>{62,64}</string>
		</dict>
		<key>bullet_22_0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,169},{62,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{62,60}}</string>
			<key>sourceSize</key>
			<string>{62,64}</string>
		</dict>
		<key>bullet_22_0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,409},{56,56}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{56,56}}</string>
			<key>sourceSize</key>
			<string>{62,64}</string>
		</dict>
		<key>bullet_24_normal0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,200},{64,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,32}}</string>
			<key>sourceSize</key>
			<string>{64,32}</string>
		</dict>
		<key>bullet_24_normal0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,416},{64,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,32}}</string>
			<key>sourceSize</key>
			<string>{64,32}</string>
		</dict>
		<key>bullet_24_normal0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,416},{64,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,32}}</string>
			<key>sourceSize</key>
			<string>{64,32}</string>
		</dict>
		<key>bullet_24_normal0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,416},{64,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,32}}</string>
			<key>sourceSize</key>
			<string>{64,32}</string>
		</dict>
		<key>bullet_25_normal0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,416},{64,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,32}}</string>
			<key>sourceSize</key>
			<string>{64,32}</string>
		</dict>
		<key>bullet_25_normal0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,414},{64,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,32}}</string>
			<key>sourceSize</key>
			<string>{64,32}</string>
		</dict>
		<key>bullet_25_normal0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,296},{64,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,32}}</string>
			<key>sourceSize</key>
			<string>{64,32}</string>
		</dict>
		<key>bullet_25_normal0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,409},{64,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,32}}</string>
			<key>sourceSize</key>
			<string>{64,32}</string>
		</dict>
		<key>bullet_26_normal0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,282},{50,30}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,11},{50,30}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>bullet_26_normal0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,100},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>bullet_26_normal0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,362},{30,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,0},{30,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>bullet_26_normal0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,152},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>bullet_27_normal0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,134},{100,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,35}}</string>
			<key>sourceSize</key>
			<string>{100,35}</string>
		</dict>
		<key>bullet_27_normal0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,171},{100,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,35}}</string>
			<key>sourceSize</key>
			<string>{100,35}</string>
		</dict>
		<key>bullet_27_normal0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,208},{100,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,35}}</string>
			<key>sourceSize</key>
			<string>{100,35}</string>
		</dict>
		<key>bullet_27_normal0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,193},{100,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,35}}</string>
			<key>sourceSize</key>
			<string>{100,35}</string>
		</dict>
		<key>bullet_28_normal0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,305},{59,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,55}}</string>
			<key>sourceSize</key>
			<string>{59,55}</string>
		</dict>
		<key>bullet_28_normal0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,296},{59,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,55}}</string>
			<key>sourceSize</key>
			<string>{59,55}</string>
		</dict>
		<key>bullet_29_normal0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,134},{64,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,17},{64,30}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>bullet_29_normal0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,480},{64,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,17},{64,30}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>[test]bullets_atlas-hd.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:65d639d953de7a0f05dd7dbf70a96e3a$</string>
		<key>textureFileName</key>
		<string>[test]bullets_atlas-hd.png</string>
	</dict>
</dict>
</plist>
