<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>[test]aibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{320,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,1024}}</string>
                <key>sourceSize</key>
                <string>{320,1024}</string>
            </dict>
            <key>disc.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,27},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>mine.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{484,0},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>nebulaDefault.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,0},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,242},{134,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,250}}</string>
                <key>sourceSize</key>
                <string>{134,250}</string>
            </dict>
            <key>tree_cartoon_med.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,242},{54,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{54,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>[test]background_objects_atlas.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab827d65d59bb1d78f13a80c58fa45ae$</string>
            <key>textureFileName</key>
            <string>[test]background_objects_atlas.png</string>
        </dict>
    </dict>
</plist>
