<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bow_normal0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,602},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Bow_normal0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,672},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Bow_normal0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,623},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Bow_normal0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,588},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Bow_normal0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,610},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Bow_normal0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,548},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Bow_normal0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,526},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Bow_normal0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,486},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Bow_normal0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,464},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Bow_normal0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,424},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Bow_normal0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,402},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Bow_normal0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,362},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Donut_normal0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,482},{75,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,55}}</string>
                <key>sourceSize</key>
                <string>{75,55}</string>
            </dict>
            <key>Donut_normal0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,479},{75,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,55}}</string>
                <key>sourceSize</key>
                <string>{75,55}</string>
            </dict>
            <key>Donut_normal0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,434},{75,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,55}}</string>
                <key>sourceSize</key>
                <string>{75,55}</string>
            </dict>
            <key>Donut_normal0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,481},{75,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,55}}</string>
                <key>sourceSize</key>
                <string>{75,55}</string>
            </dict>
            <key>Donut_normal0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,422},{75,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,55}}</string>
                <key>sourceSize</key>
                <string>{75,55}</string>
            </dict>
            <key>Egg_normal00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,434},{75,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{75,48}}</string>
                <key>sourceSize</key>
                <string>{75,50}</string>
            </dict>
            <key>Goblet_normal0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,362},{61,38}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{61,38}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>Goblet_normal0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,362},{65,38}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{65,38}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>Goblet_normal0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,362},{69,34}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{69,34}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>Goblet_normal0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,949},{73,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{73,32}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>Goblet_normal0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,620},{75,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,32}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>Goblet_normal0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,573},{75,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,32}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>Goblet_normal0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,568},{75,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,32}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>Goblet_normal0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,949},{73,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{73,32}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>Goblet_normal0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,362},{69,34}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{69,34}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>Goblet_normal0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,362},{65,38}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{65,38}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>Ika_normal0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,533},{75,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{75,38}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>Ika_normal0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,526},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>Ika_normal0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,581},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>Ika_normal0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,578},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>Ika_normal0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,539},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>Ika_normal0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,536},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>Ika_normal0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,491},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>Ika_normal0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,484},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>Ika_normal0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,362},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>Ika_normal0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,977},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>LittleBee_normal0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{40,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,26}}</string>
                <key>sourceSize</key>
                <string>{40,26}</string>
            </dict>
            <key>LittleBee_normal0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,86},{40,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,24}}</string>
                <key>sourceSize</key>
                <string>{40,26}</string>
            </dict>
            <key>LittleBee_normal0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,128},{40,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,22}}</string>
                <key>sourceSize</key>
                <string>{40,26}</string>
            </dict>
            <key>LittleBee_normal0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,44},{40,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,24}}</string>
                <key>sourceSize</key>
                <string>{40,26}</string>
            </dict>
            <key>Starfruit_normal0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,422},{75,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>Starfruit_normal0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,362},{75,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>Starfruit_normal0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,362},{75,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>Starfruit_normal0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,900},{75,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>Starfruit_normal0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,823},{75,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>Starfruit_normal0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,918},{75,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>Starfruit_normal0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,746},{75,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>Starfruit_normal0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,841},{75,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>Starfruit_normal0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,918},{75,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>Starfruit_normal0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,841},{75,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>Suicide_normal0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,573},{50,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,33}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>Suicide_normal0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,538},{50,33}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{50,33}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>Suicide_normal0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,649},{46,39}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{46,39}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>Suicide_normal0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,977},{44,43}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>Suicide_normal0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,608},{46,39}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{46,39}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>Suicide_normal0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,429},{50,33}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,33}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>[Celestial]_Army_med2_normal0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,122},{154,112}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{154,112}}</string>
                <key>sourceSize</key>
                <string>{158,120}</string>
            </dict>
            <key>[Celestial]_Army_med2_normal0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,590},{154,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{154,114}}</string>
                <key>sourceSize</key>
                <string>{158,120}</string>
            </dict>
            <key>[Celestial]_Army_med2_normal0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,244},{154,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{154,116}}</string>
                <key>sourceSize</key>
                <string>{158,120}</string>
            </dict>
            <key>[Celestial]_Army_med2_normal0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,278},{154,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{154,118}}</string>
                <key>sourceSize</key>
                <string>{158,120}</string>
            </dict>
            <key>[Celestial]_Army_med2_normal0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,122},{154,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{154,120}}</string>
                <key>sourceSize</key>
                <string>{158,120}</string>
            </dict>
            <key>[Celestial]_Army_med2_normal0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,122},{154,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{154,120}}</string>
                <key>sourceSize</key>
                <string>{158,120}</string>
            </dict>
            <key>[Celestial]_Army_med2_normal0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,772},{154,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{154,120}}</string>
                <key>sourceSize</key>
                <string>{158,120}</string>
            </dict>
            <key>[Celestial]_Army_med2_normal0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,242},{154,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{154,118}}</string>
                <key>sourceSize</key>
                <string>{158,120}</string>
            </dict>
            <key>[Celestial]_Army_med2_normal0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,122},{154,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{154,118}}</string>
                <key>sourceSize</key>
                <string>{158,120}</string>
            </dict>
            <key>[Celestial]_Army_med2_normal0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,244},{154,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{154,116}}</string>
                <key>sourceSize</key>
                <string>{158,120}</string>
            </dict>
            <key>[Celestial]_Army_med2_normal0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,434},{154,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{154,114}}</string>
                <key>sourceSize</key>
                <string>{158,120}</string>
            </dict>
            <key>[Celestial]_Army_med3_normal0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,611},{159,135}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{159,135}}</string>
                <key>sourceSize</key>
                <string>{161,137}</string>
            </dict>
            <key>[Celestial]_Army_med3_normal0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,450},{159,135}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{159,135}}</string>
                <key>sourceSize</key>
                <string>{161,137}</string>
            </dict>
            <key>[Celestial]_Army_med3_normal0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,289},{159,135}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{159,135}}</string>
                <key>sourceSize</key>
                <string>{161,137}</string>
            </dict>
            <key>[Celestial]_Army_med3_normal0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,611},{159,133}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{159,133}}</string>
                <key>sourceSize</key>
                <string>{161,137}</string>
            </dict>
            <key>[Celestial]_Army_med3_normal0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,450},{159,133}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{159,133}}</string>
                <key>sourceSize</key>
                <string>{161,137}</string>
            </dict>
            <key>[Celestial]_Army_med3_normal0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,289},{159,133}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{159,133}}</string>
                <key>sourceSize</key>
                <string>{161,137}</string>
            </dict>
            <key>[Celestial]_Army_med3_normal0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,128},{159,133}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{159,133}}</string>
                <key>sourceSize</key>
                <string>{161,137}</string>
            </dict>
            <key>[Celestial]_Army_med3_normal0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,772},{159,133}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{159,133}}</string>
                <key>sourceSize</key>
                <string>{161,137}</string>
            </dict>
            <key>[Celestial]_Army_med3_normal0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,128},{159,135}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{159,135}}</string>
                <key>sourceSize</key>
                <string>{161,137}</string>
            </dict>
            <key>[Celestial]_Army_med3_normal0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{159,135}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{159,135}}</string>
                <key>sourceSize</key>
                <string>{161,137}</string>
            </dict>
            <key>[Celestial]_Army_med6_normal0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,623},{163,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,118}}</string>
                <key>sourceSize</key>
                <string>{163,118}</string>
            </dict>
            <key>[Celestial]_Army_med6_normal0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{163,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,118}}</string>
                <key>sourceSize</key>
                <string>{163,118}</string>
            </dict>
            <key>[Celestial]_Army_med6_normal0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{163,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,118}}</string>
                <key>sourceSize</key>
                <string>{163,118}</string>
            </dict>
            <key>[Celestial]_Army_med6_normal0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{163,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,118}}</string>
                <key>sourceSize</key>
                <string>{163,118}</string>
            </dict>
            <key>[Celestial]_Army_med6_normal0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,2},{163,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,118}}</string>
                <key>sourceSize</key>
                <string>{163,118}</string>
            </dict>
            <key>[Celestial]_Army_med6_normal0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{163,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,118}}</string>
                <key>sourceSize</key>
                <string>{163,118}</string>
            </dict>
            <key>[Celestial]_Army_med6_normal0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{163,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,118}}</string>
                <key>sourceSize</key>
                <string>{163,118}</string>
            </dict>
            <key>[Celestial]_Army_med6_normal0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{163,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,118}}</string>
                <key>sourceSize</key>
                <string>{163,118}</string>
            </dict>
            <key>[Celestial]_Army_med6_normal0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{163,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,118}}</string>
                <key>sourceSize</key>
                <string>{163,118}</string>
            </dict>
            <key>[Celestial]_Army_med6_normal0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,118}}</string>
                <key>sourceSize</key>
                <string>{163,118}</string>
            </dict>
            <key>[Celestial]_Army_sml5_ice_normal0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,933},{81,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{81,95}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>[Celestial]_Army_sml5_ice_normal0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,746},{77,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{77,93}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>[Celestial]_Army_sml5_ice_normal0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,933},{71,89}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{71,89}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>[Celestial]_Army_sml5_ice_normal0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,949},{71,89}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{71,89}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>[Celestial]_Army_sml5_ice_normal0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,928},{77,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{77,93}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>[test]enemies_atlas.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c65ac23b8683a43081f58da4ce5be6fd$</string>
            <key>textureFileName</key>
            <string>[test]enemies_atlas.png</string>
        </dict>
    </dict>
</plist>
