<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>PlayerOne</string>
	<key>parts</key>
	<dict>
		<key>Main</key>
		<dict>
			<key>animationName</key>
			<string>Player</string>
			<key>collisions</key>
			<array>
				<dict>
					<key>center</key>
					<string>{0,0}</string>
					<key>radius</key>
					<string>10</string>
				</dict>
			</array>
			<key>relativePosition</key>
			<string>{0,0}</string>
		</dict>
	</dict>
	<key>modes</key>
	<array>
		<dict>
			<key>name</key>
			<string>Mode1</string>
			<key>isRepeatForever</key>
			<true/>
			<key>partControls</key>
			<dict>
				<key>Main</key>
				<dict>
					<key>attacks</key>
					<array>
						<dict>
							<key>target</key>
							<string>None</string>
							<key>isRepeatForever</key>
							<true/>
							<key>bulletName</key>
							<string>TestBullet0002</string>
							<key>colddown</key>
							<real>0.09</real>
							<key>intervalDegree</key>
							<integer>5</integer>
							<key>isRunOnce</key>
							<false/>
							<key>strength</key>
							<string>100</string>
							<key>motions</key>
							<array>
								<dict>
									<key>initVelocity</key>
									<integer>700</integer>
									<key>isRepeatForever</key>
									<true/>
									<key>isUsingPrevious</key>
									<false/>
									<key>motionType</key>
									<string>Linear</string>
									<key>movingVector</key>
									<string>{0,1}</string>
								</dict>
							</array>
							<key>numberOfWays</key>
							<integer>4</integer>
							<key>type</key>
							<string>EvenWay</string>
							<key>faceTo</key>
							<string>Direction</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
