<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Player01_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,928},{82,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,119}}</string>
                <key>sourceSize</key>
                <string>{82,119}</string>
            </dict>
            <key>Playerkid_Normal0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,330},{110,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{110,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Playerkid_Normal0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,330},{110,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{110,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Playerkid_Normal0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,220},{110,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{110,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Playerkid_Normal0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,220},{110,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{110,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Playerkid_Normal0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,220},{110,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{110,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Playerkid_Normal0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{110,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{110,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Playerkid_Normal0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,110},{110,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{110,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Playerkid_Normal0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,110},{110,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{110,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Playerkid_Normal0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,110},{110,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{110,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Playerkid_Normal0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{110,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{110,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Playerkid_Normal0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,0},{110,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{110,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Playerkid_Normal0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{110,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{110,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Playerkid_Normal0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,0},{110,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{110,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Playerkid_Normal0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{110,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Playermale_Normal0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,834},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,762},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,928},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,800},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,800},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,928},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,800},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,800},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,728},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,728},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,690},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,690},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,656},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,656},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,618},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,618},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,584},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,584},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,546},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,546},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,512},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,474},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,474},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,440},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,440},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,402},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,402},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,330},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>Playermale_Normal0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,330},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>player_male-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
