<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>House.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,93}}</string>
                <key>sourceSize</key>
                <string>{200,93}</string>
            </dict>
            <key>Tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{184,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,308}}</string>
                <key>sourceSize</key>
                <string>{184,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TestBGTexture.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27dfb2b5ed74539d947c31359d2d3d92$</string>
            <key>textureFileName</key>
            <string>TestBGTexture.pvr.ccz</string>
        </dict>
    </dict>
</plist>
