<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bow_normal0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,871},{120,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Bow_normal0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,975},{120,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Bow_normal0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,933},{120,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Bow_normal0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,839},{120,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Bow_normal0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,1056},{120,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Bow_normal0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,938},{120,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Bow_normal0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,857},{120,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Bow_normal0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,815},{120,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Bow_normal0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,737},{120,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Bow_normal0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,615},{120,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Bow_normal0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,493},{120,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Bow_normal0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,348},{120,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Donut_normal0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1934},{148,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{148,108}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>Donut_normal0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,237},{148,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{148,108}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>Donut_normal0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,237},{148,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{148,108}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>Donut_normal0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,237},{148,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{148,108}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>Donut_normal0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{148,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{148,108}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>Egg_normal00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1946},{148,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{148,94}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>Goblet_normal0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,470},{122,76}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{122,76}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>Goblet_normal0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,795},{130,74}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{130,74}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>Goblet_normal0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1976},{136,66}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{136,66}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>Goblet_normal0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,729},{144,64}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{144,64}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>Goblet_normal0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,656},{148,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{148,64}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>Goblet_normal0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,506},{148,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{148,64}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>Goblet_normal0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,1898},{148,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{148,64}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>Goblet_normal0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,663},{144,64}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{144,64}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>Goblet_normal0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1976},{136,66}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{136,66}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>Goblet_normal0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,763},{130,74}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{130,74}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>Ika_normal0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1898},{148,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{148,75}}</string>
                <key>sourceSize</key>
                <string>{150,95}</string>
            </dict>
            <key>Ika_normal0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,736},{150,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{150,77}}</string>
                <key>sourceSize</key>
                <string>{150,95}</string>
            </dict>
            <key>Ika_normal0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,859},{150,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{150,77}}</string>
                <key>sourceSize</key>
                <string>{150,95}</string>
            </dict>
            <key>Ika_normal0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,237},{150,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{150,79}}</string>
                <key>sourceSize</key>
                <string>{150,95}</string>
            </dict>
            <key>Ika_normal0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,237},{150,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{150,79}}</string>
                <key>sourceSize</key>
                <string>{150,95}</string>
            </dict>
            <key>Ika_normal0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1934},{150,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{150,79}}</string>
                <key>sourceSize</key>
                <string>{150,95}</string>
            </dict>
            <key>Ika_normal0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,196},{150,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{150,79}}</string>
                <key>sourceSize</key>
                <string>{150,95}</string>
            </dict>
            <key>Ika_normal0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,237},{150,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{150,77}}</string>
                <key>sourceSize</key>
                <string>{150,95}</string>
            </dict>
            <key>Ika_normal0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,237},{150,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{150,77}}</string>
                <key>sourceSize</key>
                <string>{150,95}</string>
            </dict>
            <key>Ika_normal0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,237},{150,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{150,77}}</string>
                <key>sourceSize</key>
                <string>{150,95}</string>
            </dict>
            <key>LittleBee_normal0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,2},{80,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,49}}</string>
                <key>sourceSize</key>
                <string>{80,51}</string>
            </dict>
            <key>LittleBee_normal0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,102},{80,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{80,47}}</string>
                <key>sourceSize</key>
                <string>{80,51}</string>
            </dict>
            <key>LittleBee_normal0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,151},{80,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,43}}</string>
                <key>sourceSize</key>
                <string>{80,51}</string>
            </dict>
            <key>LittleBee_normal0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,53},{80,47}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,47}}</string>
                <key>sourceSize</key>
                <string>{80,51}</string>
            </dict>
            <key>Starfruit_normal0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,648},{150,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,113}}</string>
                <key>sourceSize</key>
                <string>{150,115}</string>
            </dict>
            <key>Starfruit_normal0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,548},{150,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,113}}</string>
                <key>sourceSize</key>
                <string>{150,115}</string>
            </dict>
            <key>Starfruit_normal0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,533},{150,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,113}}</string>
                <key>sourceSize</key>
                <string>{150,115}</string>
            </dict>
            <key>Starfruit_normal0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,742},{150,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,113}}</string>
                <key>sourceSize</key>
                <string>{150,115}</string>
            </dict>
            <key>Starfruit_normal0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,627},{150,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,113}}</string>
                <key>sourceSize</key>
                <string>{150,115}</string>
            </dict>
            <key>Starfruit_normal0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,621},{150,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,113}}</string>
                <key>sourceSize</key>
                <string>{150,115}</string>
            </dict>
            <key>Starfruit_normal0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,512},{150,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,113}}</string>
                <key>sourceSize</key>
                <string>{150,115}</string>
            </dict>
            <key>Starfruit_normal0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,506},{150,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,113}}</string>
                <key>sourceSize</key>
                <string>{150,115}</string>
            </dict>
            <key>Starfruit_normal0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,397},{150,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,113}}</string>
                <key>sourceSize</key>
                <string>{150,115}</string>
            </dict>
            <key>Starfruit_normal0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,391},{150,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,113}}</string>
                <key>sourceSize</key>
                <string>{150,115}</string>
            </dict>
            <key>Suicide_normal0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1946},{100,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{100,63}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>Suicide_normal0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1946},{98,63}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,18},{98,63}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>Suicide_normal0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1942},{92,77}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{92,77}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>Suicide_normal0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1942},{86,83}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{86,83}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>Suicide_normal0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,1942},{92,77}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{92,77}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>Suicide_normal0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1946},{98,63}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{98,63}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>[Celestial]_Army_med2_normal0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,1588},{308,224}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{308,224}}</string>
                <key>sourceSize</key>
                <string>{316,240}</string>
            </dict>
            <key>[Celestial]_Army_med2_normal0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,968},{308,228}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{308,228}}</string>
                <key>sourceSize</key>
                <string>{316,240}</string>
            </dict>
            <key>[Celestial]_Army_med2_normal0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,658},{308,232}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{308,232}}</string>
                <key>sourceSize</key>
                <string>{316,240}</string>
            </dict>
            <key>[Celestial]_Army_med2_normal0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,968},{308,234}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{308,234}}</string>
                <key>sourceSize</key>
                <string>{316,240}</string>
            </dict>
            <key>[Celestial]_Army_med2_normal0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,658},{308,238}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{308,238}}</string>
                <key>sourceSize</key>
                <string>{316,240}</string>
            </dict>
            <key>[Celestial]_Army_med2_normal0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,348},{308,238}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{308,238}}</string>
                <key>sourceSize</key>
                <string>{316,240}</string>
            </dict>
            <key>[Celestial]_Army_med2_normal0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1624},{308,238}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{308,238}}</string>
                <key>sourceSize</key>
                <string>{316,240}</string>
            </dict>
            <key>[Celestial]_Army_med2_normal0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,348},{308,236}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{308,236}}</string>
                <key>sourceSize</key>
                <string>{316,240}</string>
            </dict>
            <key>[Celestial]_Army_med2_normal0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,658},{308,234}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{308,234}}</string>
                <key>sourceSize</key>
                <string>{316,240}</string>
            </dict>
            <key>[Celestial]_Army_med2_normal0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,348},{308,230}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{308,230}}</string>
                <key>sourceSize</key>
                <string>{316,240}</string>
            </dict>
            <key>[Celestial]_Army_med2_normal0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,1278},{308,226}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{308,226}}</string>
                <key>sourceSize</key>
                <string>{316,240}</string>
            </dict>
            <key>[Celestial]_Army_med3_normal0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,668},{318,270}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{318,270}}</string>
                <key>sourceSize</key>
                <string>{322,274}</string>
            </dict>
            <key>[Celestial]_Army_med3_normal0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,348},{318,270}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{318,270}}</string>
                <key>sourceSize</key>
                <string>{322,274}</string>
            </dict>
            <key>[Celestial]_Army_med3_normal0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,988},{316,268}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{316,268}}</string>
                <key>sourceSize</key>
                <string>{322,274}</string>
            </dict>
            <key>[Celestial]_Army_med3_normal0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1308},{318,266}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{318,266}}</string>
                <key>sourceSize</key>
                <string>{322,274}</string>
            </dict>
            <key>[Celestial]_Army_med3_normal0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,1306},{316,264}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{316,264}}</string>
                <key>sourceSize</key>
                <string>{322,274}</string>
            </dict>
            <key>[Celestial]_Army_med3_normal0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1624},{316,264}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{316,264}}</string>
                <key>sourceSize</key>
                <string>{322,274}</string>
            </dict>
            <key>[Celestial]_Army_med3_normal0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1306},{316,264}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{316,264}}</string>
                <key>sourceSize</key>
                <string>{322,274}</string>
            </dict>
            <key>[Celestial]_Army_med3_normal0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,988},{318,266}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{318,266}}</string>
                <key>sourceSize</key>
                <string>{322,274}</string>
            </dict>
            <key>[Celestial]_Army_med3_normal0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1628},{316,268}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{316,268}}</string>
                <key>sourceSize</key>
                <string>{322,274}</string>
            </dict>
            <key>[Celestial]_Army_med3_normal0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1656},{318,270}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{318,270}}</string>
                <key>sourceSize</key>
                <string>{322,274}</string>
            </dict>
            <key>[Celestial]_Army_med6_normal0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1329},{325,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{325,233}}</string>
                <key>sourceSize</key>
                <string>{325,235}</string>
            </dict>
            <key>[Celestial]_Army_med6_normal0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{325,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{325,233}}</string>
                <key>sourceSize</key>
                <string>{325,235}</string>
            </dict>
            <key>[Celestial]_Army_med6_normal0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{325,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{325,233}}</string>
                <key>sourceSize</key>
                <string>{325,235}</string>
            </dict>
            <key>[Celestial]_Army_med6_normal0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{325,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{325,233}}</string>
                <key>sourceSize</key>
                <string>{325,235}</string>
            </dict>
            <key>[Celestial]_Army_med6_normal0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,2},{325,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{325,233}}</string>
                <key>sourceSize</key>
                <string>{325,235}</string>
            </dict>
            <key>[Celestial]_Army_med6_normal0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,2},{325,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{325,233}}</string>
                <key>sourceSize</key>
                <string>{325,235}</string>
            </dict>
            <key>[Celestial]_Army_med6_normal0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,2},{325,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{325,233}}</string>
                <key>sourceSize</key>
                <string>{325,235}</string>
            </dict>
            <key>[Celestial]_Army_med6_normal0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{325,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{325,233}}</string>
                <key>sourceSize</key>
                <string>{325,235}</string>
            </dict>
            <key>[Celestial]_Army_med6_normal0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{325,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{325,233}}</string>
                <key>sourceSize</key>
                <string>{325,235}</string>
            </dict>
            <key>[Celestial]_Army_med6_normal0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{325,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{325,233}}</string>
                <key>sourceSize</key>
                <string>{325,235}</string>
            </dict>
            <key>[Celestial]_Army_sml5_ice_normal0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,237},{158,189}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,17},{158,189}}</string>
                <key>sourceSize</key>
                <string>{170,225}</string>
            </dict>
            <key>[Celestial]_Army_sml5_ice_normal0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,237},{150,185}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,20},{150,185}}</string>
                <key>sourceSize</key>
                <string>{170,225}</string>
            </dict>
            <key>[Celestial]_Army_sml5_ice_normal0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,316},{140,175}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,25},{140,175}}</string>
                <key>sourceSize</key>
                <string>{170,225}</string>
            </dict>
            <key>[Celestial]_Army_sml5_ice_normal0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,389},{142,177}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,23},{142,177}}</string>
                <key>sourceSize</key>
                <string>{170,225}</string>
            </dict>
            <key>[Celestial]_Army_sml5_ice_normal0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,237},{152,185}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{152,185}}</string>
                <key>sourceSize</key>
                <string>{170,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>[test]enemies_atlas-hd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52bcb5430741e3c8290b2c23d825aee2$</string>
            <key>textureFileName</key>
            <string>[test]enemies_atlas-hd.png</string>
        </dict>
    </dict>
</plist>
