<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[bk]Enemies</key>
	<array>
		<string>PT01MidShip.plist</string>
		<string>PT01FixedShooterToRight.plist</string>
		<string>PT01FixedShooterToLeft.plist</string>
		<string>PT01FollowPlayer.plist</string>
	</array>
	<key>enemies</key>
	<array>
		<string>PT01FixedShooterToRight.plist</string>
	</array>
	<key>eventsDefine</key>
	<dict>
		<key>PT01FixedShooterToRight</key>
		<dict>
			<key>enemyName</key>
			<string>PT01FixedShooterToRight</string>
			<key>type</key>
			<string>CreateEnemy</string>
			<key>icon</key>
			<dict>
				<key>textureName</key>
				<string>Bow_normal0001.png</string>
				<key>scale</key>
				<string>0.3</string>
				<key>rotation</key>
				<string>45</string>
			</dict>
		</dict>
		<key>PT01BatchCreate</key>
		<dict>
			<key>changePositionEverySpawn</key>
			<string>{30,0}</string>
			<key>createType</key>
			<string>CreateEnemy</string>
			<key>enemyName</key>
			<string>PT01FixedShooterToRight</string>
			<key>intervalSpawnTime</key>
			<integer>0</integer>
			<key>numberOfEnemies</key>
			<integer>6</integer>
			<key>type</key>
			<string>BatchCreateEnemiesInOrder</string>
			<key>icon</key>
			<dict>
				<key>textureName</key>
				<string>Bow_normal0001.png</string>
				<key>scale</key>
				<string>0.3</string>
				<key>rotation</key>
				<string>90</string>
				<key>color</key>
				<string>{255,0,0}</string>
			</dict>
		</dict>
	</dict>
	<key>[bk]EventsDefine</key>
	<dict>
		<key>PT01BatchCreate</key>
		<dict>
			<key>ChangePositionEverySpawn</key>
			<string>{30,0}</string>
			<key>CreateType</key>
			<string>CreateEnemy</string>
			<key>EnemyName</key>
			<string>PT01FixedShooterToRight</string>
			<key>IntervalSpawnTime</key>
			<real>1</real>
			<key>NumberOfEnemies</key>
			<integer>6</integer>
			<key>Type</key>
			<string>BatchCreateEnemiesInOrder</string>
			<key>Icon</key>
			<dict>
				<key>TextureName</key>
				<string>Bow_normal0001.png</string>
				<key>Scale</key>
				<string>0.3</string>
				<key>Rotation</key>
				<string>90</string>
				<key>Color</key>
				<string>{255,0,0}</string>
			</dict>
		</dict>
		<key>PT01FixedShooterToLeft</key>
		<dict>
			<key>EnemyName</key>
			<string>PT01FixedShooterToLeft</string>
			<key>Type</key>
			<string>CreateEnemy</string>
		</dict>
		<key>PT01FixedShooterToRight</key>
		<dict>
			<key>EnemyName</key>
			<string>PT01FixedShooterToRight</string>
			<key>Type</key>
			<string>CreateEnemy</string>
		</dict>
		<key>PT01FollowPlayer</key>
		<dict>
			<key>EnemyName</key>
			<string>PT01FollowPlayer</string>
			<key>Type</key>
			<string>CreateEnemy</string>
		</dict>
		<key>PT01MidShip</key>
		<dict>
			<key>EnemyName</key>
			<string>PT01MidShip</string>
			<key>Occur</key>
			<integer>1</integer>
			<key>Type</key>
			<string>CreateEnemy</string>
		</dict>
	</dict>
	<key>players</key>
	<array>
		<string>PlayerTestSetting.plist</string>
	</array>
	<key>spriteSheets</key>
	<array>
		<string>player_male.plist</string>
		<string>[test]enemies_atlas.plist</string>
		<string>[test]bullets_atlas.plist</string>
		<string>[test]background_objects_atlas.plist</string>
		<string>explosion.plist</string>
	</array>
	<key>textures</key>
	<array>
		<string>[test]aibg_single.png</string>
		<string>[test]side_bg_horizon.png</string>
		<string>[test]side_bg_verticaln.png</string>
		<string>[test]bg_cloud.png</string>
	</array>
	<key>backgrounds</key>
	<array>
		<dict>
			<key>type</key>
			<string>RepeatTexture</string>
			<key>textureName</key>
			<string>[test]aibg_single.png</string>
			<key>velocityXY</key>
			<string>{0,-15}</string>
			<key>position</key>
			<string>{160,240}</string>
		</dict>
		<dict>
			<key>type</key>
			<string>RepeatTexture</string>
			<key>textureName</key>
			<string>[test]bg_cloud.png</string>
			<key>velocityXY</key>
			<string>{5,-30}</string>
			<key>scale</key>
			<string>2</string>
			<key>position</key>
			<string>{160,240}</string>
			<key>opacity</key>
			<string>50</string>
			<key>color</key>
			<string>{128,128,128}</string>
		</dict>
		<dict>
			<key>type</key>
			<string>RepeatTexture</string>
			<key>textureName</key>
			<string>[test]side_bg_horizon.png</string>
			<key>velocityXY</key>
			<string>{-500,0}</string>
			<key>position</key>
			<string>{0,0}</string>
			<key>rotation</key>
			<string>90</string>
		</dict>
		<dict>
			<key>type</key>
			<string>RepeatTexture</string>
			<key>textureName</key>
			<string>[test]side_bg_horizon.png</string>
			<key>velocityXY</key>
			<string>{-500,0}</string>
			<key>position</key>
			<string>{320,240}</string>
			<key>rotation</key>
			<string>90</string>
			<key>flipX</key>
			<string>YES</string>
			<key>flipY</key>
			<string>YES</string>
		</dict>
	</array>
</dict>
</plist>
