<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>PT01FixedShooterToRight</string>
	<key>comment</key>
	<string>萬用測試君</string>
	<key>healthPoint</key>
	<integer>5</integer>
	<key>parts</key>
	<dict>
		<key>MainBody</key>
		<dict>
			<key>scale</key>
			<real>0.5</real>
			<key>animationName</key>
			<string>midship_vertical</string>
			<key>relativePosition</key>
			<string>{0,0}</string>
			<key>collisions</key>
			<array>
				<dict>
					<key>center</key>
					<string>{0,0}</string>
					<key>radius</key>
					<string>20</string>
				</dict>
			</array>
		</dict>
		<key>O1</key>
		<dict>
			<key>scale</key>
			<real>0.5</real>
			<key>animationName</key>
			<string>SmallEnemy</string>
			<key>relativePosition</key>
			<string>{-20,0}</string>
		</dict>
	</dict>
	<key>modes</key>
	<array>
		<dict>
			<key>name</key>
			<string>Mode</string>
			<key>duration</key>
			<integer>4000</integer>
			<key>motions</key>
			<array>
				<dict>
					<key>initVelocity</key>
					<integer>30</integer>
					<key>duration</key>
					<integer>10</integer>
					<key>motionType</key>
					<string>Linear</string>
					<key>movingVector</key>
					<string>{1,-1}</string>
				</dict>
				<dict>
					<key>duration</key>
					<integer>100</integer>
					<key>motionType</key>
					<string>Idle</string>
				</dict>
				<dict>
					<key>initVelocity</key>
					<integer>70</integer>
					<key>duration</key>
					<integer>100</integer>
					<key>motionType</key>
					<string>Linear</string>
					<key>movingVector</key>
					<string>{0,1}</string>
				</dict>
			</array>
			<key>motions - 2</key>
			<array>
				<dict>
					<key>InitVelocity</key>
					<integer>30</integer>
					<key>Duration</key>
					<integer>3</integer>
					<key>MotionType</key>
					<string>Linear</string>
					<key>MovingVector</key>
					<string>{1,-1}</string>
				</dict>
				<dict>
					<key>InitVelocity</key>
					<integer>80</integer>
					<key>Duration</key>
					<integer>300</integer>
					<key>MotionType</key>
					<string>Rotation</string>
					<key>IsRunOnce</key>
					<true/>
					<key>AngularVelocity</key>
					<string>60</string>
					<key>RotatedCenterType</key>
					<string>AssignPosition</string>
					<key>AssignPosition</key>
					<string>{160,240}</string>
					<key>AdditionalRadians</key>
					<string>-10</string>
				</dict>
				<dict>
					<key>Duration</key>
					<real>1.5</real>
					<key>MotionType</key>
					<string>Idle</string>
				</dict>
				<dict>
					<key>InitVelocity</key>
					<integer>70</integer>
					<key>Duration</key>
					<integer>100</integer>
					<key>MotionType</key>
					<string>Linear</string>
					<key>MovingVector</key>
					<string>{0,1}</string>
				</dict>
			</array>
			<key>partControls</key>
			<dict>
				<key>MainBodyVortexCW</key>
				<dict>
					<key>controlPartName</key>
					<string>MainBody</string>
					<key>faceTo</key>
					<string>Direction</string>
					<key>attacks</key>
					<array>
						<dict>
							<key>duration</key>
							<integer>3</integer>
							<key>isRunOnce</key>
							<true/>
							<key>type</key>
							<string>Idle</string>
							<key>comment</key>
							<string>出場 Idle</string>
						</dict>
						<dict>
							<key>isAimTargetEveryWave</key>
							<true/>
							<key>bulletName</key>
							<string>green_arrow_bullet</string>
							<key>targetType</key>
							<string>AssignPositionAddParentPosition</string>
							<key>assignPosition</key>
							<string>{0,1}</string>
							<key>duration</key>
							<integer>1000</integer>
							<key>colddown</key>
							<real>0.033</real>
							<key>intervalDegree</key>
							<integer>5</integer>
							<key>isRunOnce</key>
							<false/>
							<key>additionalVelocity</key>
							<integer>10</integer>
							<key>motions</key>
							<array>
								<dict>
									<key>acceleration</key>
									<real>0</real>
									<key>initVelocity</key>
									<integer>60</integer>
									<key>isRepeatForever</key>
									<true/>
									<key>motionType</key>
									<string>Linear</string>
									<key>movingVector</key>
									<string>{0,-1}</string>
								</dict>
							</array>
							<key>numberOfWays</key>
							<integer>2</integer>
							<key>additionalWaysPerLaunch</key>
							<string>2</string>
							<key>type</key>
							<string>Vortex</string>
							<key>faceTo</key>
							<string>Direction</string>
							<key>resetAtRest</key>
							<true/>
							<key>timePerWave</key>
							<string>0.33</string>
							<key>restTime</key>
							<string>0.132</string>
						</dict>
						<dict>
							<key>duration</key>
							<integer>3</integer>
							<key>type</key>
							<string>Idle</string>
						</dict>
					</array>
				</dict>
				<key>MainBodyVortexCCW</key>
				<dict>
					<key>controlPartName</key>
					<string>MainBody_</string>
					<key>faceTo</key>
					<string>Direction</string>
					<key>attacks</key>
					<array>
						<dict>
							<key>duration</key>
							<integer>3</integer>
							<key>isRunOnce</key>
							<true/>
							<key>type</key>
							<string>Idle</string>
							<key>comment</key>
							<string>出場 Idle</string>
						</dict>
						<dict>
							<key>isAimTargetEveryWave</key>
							<true/>
							<key>bulletName</key>
							<string>green_arrow_bullet</string>
							<key>targetType</key>
							<string>AssignPositionAddParentPosition</string>
							<key>assignPosition</key>
							<string>{0,1}</string>
							<key>duration</key>
							<integer>1000</integer>
							<key>colddown</key>
							<real>0.033</real>
							<key>intervalDegree</key>
							<integer>-5</integer>
							<key>isRunOnce</key>
							<false/>
							<key>additionalVelocity</key>
							<integer>10</integer>
							<key>motions</key>
							<array>
								<dict>
									<key>acceleration</key>
									<real>0</real>
									<key>initVelocity</key>
									<integer>60</integer>
									<key>isRepeatForever</key>
									<true/>
									<key>motionType</key>
									<string>Linear</string>
									<key>movingVector</key>
									<string>{0,-1}</string>
								</dict>
							</array>
							<key>numberOfWays</key>
							<integer>2</integer>
							<key>additionalWaysPerLaunch</key>
							<string>2</string>
							<key>type</key>
							<string>Vortex</string>
							<key>faceTo</key>
							<string>Direction</string>
							<key>resetAtRest</key>
							<true/>
							<key>timePerWave</key>
							<string>0.33</string>
							<key>restTime</key>
							<string>0.132</string>
						</dict>
						<dict>
							<key>duration</key>
							<integer>3</integer>
							<key>type</key>
							<string>Idle</string>
						</dict>
					</array>
				</dict>
				<key>MainBodyVortexLeader</key>
				<dict>
					<key>controlPartName</key>
					<string>MainBody_</string>
					<key>faceTo</key>
					<string>Direction</string>
					<key>attacks</key>
					<array>
						<dict>
							<key>duration</key>
							<integer>3</integer>
							<key>isRunOnce</key>
							<true/>
							<key>type</key>
							<string>Idle</string>
							<key>comment</key>
							<string>出場 Idle</string>
						</dict>
						<dict>
							<key>isAimTargetEveryWave</key>
							<true/>
							<key>bulletName</key>
							<string>green_arrow_bullet</string>
							<key>targetType</key>
							<string>AssignPositionAddParentPosition</string>
							<key>assignPosition</key>
							<string>{1,0}</string>
							<key>duration</key>
							<integer>1000</integer>
							<key>colddown</key>
							<real>0.033</real>
							<key>intervalDegree</key>
							<integer>5</integer>
							<key>isRunOnce</key>
							<false/>
							<key>additionalVelocity</key>
							<integer>10</integer>
							<key>motions</key>
							<array>
								<dict>
									<key>acceleration</key>
									<real>0</real>
									<key>initVelocity</key>
									<integer>60</integer>
									<key>isRepeatForever</key>
									<true/>
									<key>motionType</key>
									<string>Linear</string>
									<key>movingVector</key>
									<string>{0,-1}</string>
								</dict>
							</array>
							<key>numberOfWays</key>
							<integer>2</integer>
							<key>additionalWaysPerLaunch</key>
							<string>2</string>
							<key>type</key>
							<string>Vortex</string>
							<key>faceTo</key>
							<string>Direction</string>
						</dict>
						<dict>
							<key>duration</key>
							<integer>3</integer>
							<key>type</key>
							<string>Idle</string>
						</dict>
					</array>
				</dict>
				<key>O1</key>
				<dict>
					<key>faceTo</key>
					<string>Direction</string>
					<key>motions</key>
					<array>
						<dict>
							<key>isRepeatForever</key>
							<true/>
							<key>angularVelocity</key>
							<integer>100</integer>
							<key>motionType</key>
							<string>EllipseRotation</string>
							<key>ellipseRadiansX</key>
							<string>100</string>
							<key>ellipseRadiansY</key>
							<string>50</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
