<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Animations</key>
	<dict>
		<key>SmallEnemy</key>
		<dict>
			<key>End</key>
			<integer>5</integer>
			<key>ExtendedType</key>
			<string>png</string>
			<key>FrameNamePattern</key>
			<string>Donut_normal</string>
			<key>IntervalTime</key>
			<real>0.2</real>
			<key>Start</key>
			<integer>1</integer>
		</dict>
		<key>midship_vertical</key>
		<dict>
			<key>End</key>
			<integer>12</integer>
			<key>ExtendedType</key>
			<string>png</string>
			<key>FrameNamePattern</key>
			<string>Bow_normal</string>
			<key>IntervalTime</key>
			<real>0.2</real>
			<key>Start</key>
			<integer>1</integer>
		</dict>
		<key>Player</key>
		<dict>
			<key>End</key>
			<integer>30</integer>
			<key>ExtendedType</key>
			<string>png</string>
			<key>FrameNamePattern</key>
			<string>Playermale_Normal</string>
			<key>IntervalTime</key>
			<real>0.1</real>
			<key>Start</key>
			<integer>1</integer>
		</dict>
		<key>green_arrow_bullet</key>
		<dict>
			<key>End</key>
			<integer>4</integer>
			<key>ExtendedType</key>
			<string>png</string>
			<key>FrameNamePattern</key>
			<string>bullet_02_normal</string>
			<key>IntervalTime</key>
			<real>0.2</real>
			<key>Start</key>
			<integer>1</integer>
		</dict>
		<key>test_bullet_0002</key>
		<dict>
			<key>End</key>
			<integer>4</integer>
			<key>ExtendedType</key>
			<string>png</string>
			<key>FrameNamePattern</key>
			<string>bullet_08_normal</string>
			<key>IntervalTime</key>
			<real>0.2</real>
			<key>Start</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>[bk]Animations</key>
	<dict>
		<key>SmallEnemy</key>
		<dict>
			<key>End</key>
			<integer>5</integer>
			<key>ExtendedType</key>
			<string>png</string>
			<key>FrameNamePattern</key>
			<string>Donut_normal</string>
			<key>IntervalTime</key>
			<real>0.2</real>
			<key>Start</key>
			<integer>1</integer>
		</dict>
		<key>MediumEnemyBody</key>
		<dict>
			<key>End</key>
			<integer>1</integer>
			<key>ExtendedType</key>
			<string>png</string>
			<key>FrameNamePattern</key>
			<string>midship_horizontal</string>
			<key>IntervalTime</key>
			<real>0.2</real>
			<key>Start</key>
			<integer>1</integer>
		</dict>
		<key>midship_vertical</key>
		<dict>
			<key>End</key>
			<integer>12</integer>
			<key>ExtendedType</key>
			<string>png</string>
			<key>FrameNamePattern</key>
			<string>Bow_normal</string>
			<key>IntervalTime</key>
			<real>0.2</real>
			<key>Start</key>
			<integer>1</integer>
		</dict>
		<key>turret</key>
		<dict>
			<key>End</key>
			<integer>1</integer>
			<key>ExtendedType</key>
			<string>png</string>
			<key>FrameNamePattern</key>
			<string>turret</string>
			<key>IntervalTime</key>
			<real>0.2</real>
			<key>Start</key>
			<integer>1</integer>
		</dict>
		<key>Player</key>
		<dict>
			<key>End</key>
			<integer>30</integer>
			<key>ExtendedType</key>
			<string>png</string>
			<key>FrameNamePattern</key>
			<string>Playermale_Normal</string>
			<key>IntervalTime</key>
			<real>0.1</real>
			<key>Start</key>
			<integer>1</integer>
		</dict>
		<key>green_arrow_bullet</key>
		<dict>
			<key>End</key>
			<integer>4</integer>
			<key>ExtendedType</key>
			<string>png</string>
			<key>FrameNamePattern</key>
			<string>bullet_02_normal</string>
			<key>IntervalTime</key>
			<real>0.2</real>
			<key>Start</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
